{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}
{% load currency_filters %}

{% block title %}
    {% if query %}
        {% blocktrans %}
            Transactions matching '{{ query }}' |
        {% endblocktrans %}
    {% endif %}
    {% trans "Sagepay transactions" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    {% if query %}
        <li>
            <a href="{% url 'sagepay-transaction-list' %}">{% trans "Sagepay transactions" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {% blocktrans %}
                Transactions matching '{{ query }}'
            {% endblocktrans %}
        </li>
    {% else %}
        <li class="active">{% trans "Sagepay transactions" %}</li>
    {% endif %}
</ul>
{% endblock %}

{% block headertext %}
    {% if query %}
        {% blocktrans %}
            Transactions matching '{{ query }}'
        {% endblocktrans %}
    {% else %}
        {% trans "Sagepay transactions" %}
    {% endif %}
{% endblock %}

{% block dashboard_content %}
    <div class="well">
        <form action="." method="get" class="form-inline">
            {% include "partials/form_fields_inline.html" %}
            <button class="btn btn-primary" type="submit">{% trans "Go" %}</button>
            {% if query %}
                <a class="btn" href=".">{% trans "Reset" %}</a>
            {% endif %}
        </form>
    </div>
    {% if transactions %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Vendor TX code" %}</th>
                    <th>{% trans "Reference" %}</th>
                    <th>{% trans "TX type" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Status detail" %}</th>
                    <th>{% trans "TX ID" %}</th>
                    <th>{% trans "TX auth num" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for txn in transactions %}
            <tr class="{% if txn.is_successful %}success{% elif txn.is_error %}error{% else %}info{% endif %}">
                <td><a href="{% url 'sagepay-transaction-detail' txn.pk %}">{{ txn.vendor_tx_code }}</a></td>
                <td>{{ txn.reference|default:"-" }}</td>
                <td>{{ txn.tx_type }}</td>
                <td>{{ txn.amount|currency:txn.currency }}</td>
                <td>{{ txn.description|default:"-" }}</td>
                <td>{{ txn.status|default:"-" }}</td>
                <td>{{ txn.status_detail|default:"-" }}</td>
                <td>{{ txn.tx_id|default:"-" }}</td>
                <td>{{ txn.tx_auth_num|default:"-" }}</td>
                <td>{{ txn.request_datetime }}</td>
                <td>
                    <a href="{% url 'sagepay-transaction-detail' txn.pk %}" class="btn btn-info">{% trans "View" %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans "No transactions found." %}</p>
    {% endif %}
{% endblock dashboard_content %}
