{% extends "oscar/dashboard/orders/order_detail.html" %}
{% load i18n %}

{# Null out line_actions #}
{% block line_actions %}{% endblock %}

{# Prepend forms for payment actions to shipping_events block #}
{% block shipping_events %}
    <div class="table-header">
        <h3>{% trans "Shipping Events" %}</h3>
    </div>
    <div class="well">
        <form action="{% url 'sagepay-authorise' number=order.number %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Authorise payment</button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}
